@media (max-width: 1200px) {
	.promo {
		min-height: 500px;
		padding: 21px 0 40px;
		&__wrapper {
		justify-content: center;
		align-items: center;
		margin-top: 40px;
		}
		&__subheader {
			margin-top: 10px;
			font-size: 20px;
		}
		&__icons {
			margin-top: 30px;
		}
		.button_main {
			margin-top: 50px;
		}
		&__link {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			margin-top: 5px;
			a {
				margin-top: 5px;
			}
		}
	}
}
@media (max-width: 991px) {
	.promo {
		.header {
			justify-content: space-around;
			&__logo {
				width: 205px;
			}
		}
	}
	.advantages {
		padding: 40px 0;
		&__items {
			max-width: 25%;
			margin: 20px auto 0;
			&:last-child {
				margin-right: auto;
			}
		}
	}
	.consultation {
		min-height: initial;
		padding: 35px 0;
		br {
			display: none;
		}
		.title_left {
			text-align: center;
			font-size: 20px;
			line-height: 25px;
			margin: 0 auto;
			width: 90%;
		}
		&__descr {
			font-size: 18px;
			text-align: center;
			width: 90%;
			margin: 25px auto 0;
			line-height: 1;
		}
		.feed-form {
			margin: 30px auto 0;
		}
	}
	.carousel {
		padding: 35px 0;
		
		&__inner {
			width: 80%;
			div {
				width: 100%;
			}
		}
		// .slick-dots li[class="slick-active"] button {
		// 	background: rgb(238 94 94);
		// 	outline: none;
		// }
		ul {
			display: flex;
			font-size: 0;
			padding: 0;
			list-style-type: none;
			justify-content: center;
			margin: 18px 0 0;
			li {
				margin-right: 15%;
				&:last-child {
					margin-right: 0;
				}
				button {
					width: 55px;
					height: 15px;
					border-radius: 5px;
				}
			}
			li[class="slick-active"] button {			
				outline: none;
				// background: linear-gradient(270deg, #00fb36, #fb0040, #8000fb);
				background: green;
				
			}
		}	
	}
}

@media (max-width: 650px) {
	.promo {
		background-position: 16%;
		padding-bottom: 20px;
		&__wrapper {
			margin-top: 80px;
		}
		}
		.header {
			flex-direction: column;
			&__official {
				margin-top: 40px;
				font-size: 26px;
				span {
					font-size: 22px;
					line-height: 0;
					margin-top: 10px;
				}
			}
			&__contacts {
				align-items: center;
				margin-top: 45px;
			}
			&__phone {
				font-size: 25px;
			}
			.button {
				margin-top: 15px;
				width: 230px;
				font-size: 18px;
			}
		}
	.advantages {
		&__wrapper {
			flex-direction: column;
			margin-top: 15px;
		}
		&__items {
			max-width: 90%;			
			margin: 20px auto 0;
		}
	}
	.carousel {
		// width: 90%;
		
		ul {
			button {
				width: 50px;
			}
		}
	}
}

@media (max-width: 575px) {
	.promo {
		.header {
			&__official {
				margin-top: 16px;
			}
			&__contacts {
				margin-top: 60px;
			}
			.button {
				width: 110%;
				min-height: 50px;
				font-size: 16px;
				font-size: 20px;
				
			}
			
			&__official {
				font-size: 20px;
				span {
					font-size: 18px;
				}
			}
		}

		&__icons {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			margin-top: 0;

			}
		&__icon {
			img {
				width: px;
				height: px;
			}
		}
		&__header {
			text-align: center;
			font-size: 30px;
			line-height: initial;
		}
		&__subheader {
			text-align: center;
			margin-top: 10px;
			font-size: 12px;
			line-height: initial;
			margin-top: 8px;
			font-size: 16px;

		}
		&__wrapper {
			width: 100%;
			margin-top:75px;
		}
		.button_main {
			width: 80%;
			// font-size: 20px;
			box-sizing: content-box;
		}
		&__link {
			font-size: 20px;
		}
	}
	.advantages {
		&__title {
			margin-top: 10px;
		}
		&__descr {
			margin-top: 8px;
			font-size: 16px;
		}
	}
	.carousel {
		padding: 15px 0 25px;
		ul {
			width: 80%;
			margin: 0 auto;
			li {
				button {
					margin-top: 10px;
					width: 40px;
					height: 10px;
				}
			}
		}
	}
}
